services:
  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    image: shreedhar01/chatapp-backend:latest
    container_name: chatapp-backend
    env_file:
      - apps/backend/.env
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
      args:
        VITE_API_URL: https://chat.succeedtrading.com/api
    image: shreedhar01/chatapp-frontend:latest
    container_name: chatapp-frontend
    depends_on:
      - backend
    ports:
      - "5173:80"